
@import "tailwindcss";
@plugin "daisyui";
globals.css

html, body, #__next {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}






@keyframes comicPop {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-comicPop {
  animation: comicPop 0.3s ease forwards;
}

html {
  font-family: var(--font-poppins), sans-serif;
    overflow-x: hidden;
}

code, pre {
  font-family: var(--font-geist-mono), monospace; /* You can keep Geist mono for code */
}
